 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/chat.css" />
  <title>Document</title>
 </head>
  <body id="body">
    <form class="form" action="/chat" method="POST">
        <h2>Your Internet Provider</h2>
        <input type="text" placeholder="Search any Query" name="prompt">
        <button type="submit">Submit</button>
        <p>Chatbot | Yip</p>
        
        <div class="socials">
       <img src="https://i.pinimg.com/originals/b3/da/ac/b3daac6815ebf1516a545db6c3e40a36.jpg" alt="">
       <img src="https://icones.pro/wp-content/uploads/2021/02/facebook-icone-orange.png" alt="">    
       <img src="https://i.pinimg.com/originals/ac/cf/1d/accf1d80314304e11e2bcf9537e13304.jpg" alt="">
        
    </div>
    </form>
    
    <div class="circle"></div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>


</body>
</html>
